name: "CI"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches:
    - main
  workflow_dispatch:  # Added so you can trigger this manually from the Actions UI

jobs:
  presubmit:
    name: "Presubmit"
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04
    defaults:
      run:
        shell: bash
    permissions:
      actions: write  # For gh cache delete.
      contents: write  # For gh release upload.
    env:
      MODEL_KEY: gemma-3-270m-it-v1
      MODEL_PATH: ./models/gemma3-270m-it-q8.litertlm
      MODEL_URL: https://huggingface.co/litert-community/gemma-3-270m-it/resolve/main/gemma3-270m-it-q8.litertlm

      GH_TOKEN: ${{ github.token }}  # For gh release upload.
      
    steps:
      - name: Install System Dependencies
        run: |
          apt-get update && apt-get install -y \
            build-essential cmake make gdb pkg-config \
            openjdk-17-jre-headless git git-lfs wget curl unzip \
            tar python3 python3-dev python3-pip \
            python3-numpy ccache zlib1g-dev libssl-dev \
            libpng-dev libcurl4-openssl-dev libfftw3-dev \
            apt-transport-https gnupg gcc clang openjdk-11-jre-headless \
            google-android-ndk-r26-installer \
            apt-file && apt-file update

      - name: Install Bazel
        run: |
          curl -fsSL https://bazel.build/bazel-release.pub.gpg | gpg --dearmor > bazel-archive-keyring.gpg
          mv bazel-archive-keyring.gpg /usr/share/keyrings
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/bazel-archive-keyring.gpg] https://storage.googleapis.com/bazel-apt stable jdk1.8" | tee /etc/apt/sources.list.d/bazel.list
          apt update && apt install bazel-7.6.1

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Checkout code.
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Download Model
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          mkdir -p ./models
          echo "Downloading model from Hugging Face..."
          curl -L --retry 5 -f \
            -H "Authorization: Bearer $HF_TOKEN" \
            -o ${{ env.MODEL_PATH }} \
            "${{ env.MODEL_URL }}"
          ls -lh ${{ env.MODEL_PATH }}

      - name: Patch std::powf typo for Clang
        run: |
          sed -i 's/std::powf/powf/g' runtime/components/preprocessor/signal_vector_util.h

      - name: Run bazel build on Linux.
        run: |
          bazel-7.6.1 build --disk_cache
